@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
  margin: 0;
  --principal-color: #127dab;
  font-family: 'Open Sans', sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#root{
  height: 100vh;
  background: black;
}
/*HEADER*/
header{
  height: 5.625rem;
  width: max;
  background: var(--principal-color);
}
#container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
}
.first{
  display: flex;
  flex-direction: row;
}
.first .titulo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 7px;
}
.dLogo img{
  max-width: 85px;
}

h1{
  font-size: 2rem;
  font-weight: 1000;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.545);
}
p{
  font-size: 1rem;
  color: white;
}
i{
  font-size: 35px;
  color: white;
}
a:hover{
  text-shadow: 0 0 10px rgb(255, 255, 255);
}
.login{
  text-align: center;
}
.login p{
  position: relative;
  top: -10px;
}
a{
  text-decoration: none;
}
/*HEADER FIN*/

/*MENU*/
#container-main{
  display: flex;
  justify-content:center;
}
.menu a{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  min-height: 40px;
  padding: 0 15px;
  border-radius: 0 0 10px 10px;
}
.menu i{
  font-size: 1.5625rem;
  padding-right: 5px;
}
.menu a:hover{
  background: var(--principal-color);
  text-shadow: 0 0 10px black;
}
/*MENU FIN*/


/* table*/
@media only screen and (max-width: 780px){
  #container{
    padding: 0 30px;
  }
  .dLogo img{
    max-width: 70px;
  }
  h1{
    font-size: 1.5rem;
  }
  p{
    font-size: .8rem;
  }
  /*menu*/
  .menu i{
    display: none;
  }
  /*menu fin*/
}
/* phones */
@media only screen and (max-width: 600px){
  #container{
    padding: 0 7px;
  }
  .dLogo img{
    max-width: 60px;
  }
  h1{
    font-size: 1.3rem;
  }
  p{
    font-size: .7rem;
  }

  /*menuuu*/
  .menu p{
    display: none;
  }
  .menu i{
    display: flex;
    padding: 0;
  }
  /*menuuu fin*/
}



